{% extends 'base.html.twig' %}

{% block title %}Quiz App{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #2b6e18; padding: 2px 6px; }
    </style>

    <div>
        <form name="answers" method="post">
            <div>
                <p>what is this</p>
            </div>



        </form>
    </div>
{% endblock %}