{% extends 'base.html.twig' %}

{% block title %}Quiz App{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #0000ff; padding: 2px 6px; }
    </style>

    <div>
        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
